@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  height: auto; /* Full viewport height */
  position: relative;
  background: transparent !important;
  
}

.header {
  position: relative;
  
  z-index: 10;
  top: 0;
  left: 0; 
  right: 0; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin: 0;
  gap: 1rem;
}

.chart {
  margin: auto; /* Centers the chart vertically and horizontally */
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Ensure child elements span full width */
    height: auto; /* Allow height to adjust dynamically */
  }

  .header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 10%; /* Ensure it spans the full width */
  margin: 0; /* Remove unintended margins */
}

  .chart {
    height: 5em; /* Reduce chart height for tablets */
    padding: 1em; /* Adjust padding */
  }
}

@media (max-width: 480px) {
  #root {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Ensure child elements span full width */
    height: auto; /* Allow height to adjust dynamically */
  }

  .header {
    gap: 0.25rem; /* Further reduce gap between elements */
  }

  .chart {
    height: 4em; /* Further reduce chart height for mobile */
    padding: 0.75em; /* Adjust padding for mobile */
  }
}